body, #root {
  margin: 0;
}

.Form-Input {
  width: 30%;
  padding: 10px;
  margin: 20px;
  border: none;
  box-shadow: 1px 2px 3px #ccbfbf;
  outline: none;
}

.Form-Input:focus {
  background: #f3f1f1;
}

.Form-Submit {
  width: 10%;
  padding: 10px;
  margin: 20px;
  border: none;
  background: none;
  box-shadow: 1px 2px 3px #ccbfbf;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: ease
}

.Form-Submit:hover {
  /* color: #fff; */
  background: #dbd7d7;
  transition: ease;
}

.Form-Submit:active {
  color: #fff;
  background: #5f5a5a;
  box-shadow: 1px 2px 3px 2px #ccbfbf;
  transition: ease-out;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}