.Card {
    padding: 20px;
    width: auto;
    background: #fff;
    box-shadow: 2px 3px 4px 1px rgb(190, 135, 135);
}

.Card .category {
    font-size: .9em;
}

.Card .title {
    margin-top: 0px;
    font-size: 1.5em;
}

.Card .myProgress {
    background-color: #ddd;
    margin: 20px 0;
  }
  
.Card .myBar {
    height: 10px;
    background-color: #4CAF50;
  }