.HistoryCard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.Hover:hover {
    background-color: #d1d5da;
    cursor: pointer;
}

.HistoryCard p {
    padding: 0 20px;
    font-size: 1.2em;
}

.center {
    margin-left: 10px;
}