.Menu {
    padding: 20px;
    background: #5e5555;
    color: #fff;
    font-size: 1.2em;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.Menu span {
    padding-right: 20px;
    cursor: pointer;
}

.Menu span:nth-child(1) {
    font-size: 1.2em;
    font-weight: bold;
    width: 300px;
}

.Menu span:hover {
    font-weight: bold
}

.user-icon {
    margin-top: auto;
    margin-right: 32px;
    position:absolute;
    right: 0;
    cursor: pointer;
}