.User-Test-List{
    padding: 20px;
}

.User-Test-List-Header{
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.Img-Test-Taken-Done-Header{
    width: 30px;
}

.User-Test-Details{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: white;
    box-shadow: 2px 3px 4px #a89d9d;
    margin: 5px;
    padding: 10px;
}

.User-Test-Det-Title{
    text-align: right;
    padding-right:5px;
    font-weight: 600;
}

.done {
    background-color: #8beca8;
}
