.AddTest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    padding: 3em;
}

.Form-Field {
    width: 90%;
    padding: 10px;
    font-size: 1.2em;
    margin: 10px 0;
}

.Form-Label {
    font-size: 1.2em;
}

.AddTest Form {
    grid-gap: 3em;
}

.AddTest Form textarea {
    scroll-behavior: smooth;
    resize: none;
}

.BOX {
    box-shadow: 1px 2px 3px #000;
    padding: 3em;
}

/* .QuestionItem {
    display: grid;
    grid-template-columns: 2fr .5fr;
    margin: 0px;
    padding: 0 4px;
    border-bottom: 1px solid #c4bbbb;
}

.QuestionItem p {
    font-size: 1.5em;
    word-break: break-all;
    line-break: normal;
} */

.QuestionItem p:nth-last-child(1) {
    justify-self: end;
}

.btn {
    font-size: 1em;
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 2px 3px rgb(189, 183, 183);
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 80%;
}

.btn:hover {
    color: #fff;
    background-color: #e4dcdc;
}