.Editor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1fr;
    word-break: break-all;
    background: #f3f3f3;
}

.Editor .code {
    margin: 20px;
    border: 1px solid;
    word-break: break-all;
    box-shadow: 1px 2px 3px rgb(128, 118, 118);
}

.Editor .code textarea {
    position: inherit;
    width: 90%;
    height: 80%;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}
