.LoginForm {
    text-align: -webkit-center;
}

.CustomLink {
    text-align: right;
}

.btn-google {
    width: auto;
    padding: 10px;
    margin: 20px;
    border: none;
    background: none;
    box-shadow: 1px 2px 3px #ccbfbf;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: ease;
    color: #fff;
    background: #d14836;
}

.btn-facebook {
    width: auto;
    padding: 10px;
    margin: 20px;
    border: none;
    background: none;
    box-shadow: 1px 2px 3px #ccbfbf;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: ease;
    color: #fff;
    background: #3b5998;
}