form label {
  font-weight: 450;
}

form {
  margin: 40px;
}

form input, form textarea {
  width: 100%;
  height: 30px;
}

form textarea {
  height: 60px;
}

.submit-button, btn{
  float: right;
  margin: 10px;
  width: 100px;
  height: 30px;
  background: #f3f3f3;
}