.QuestionAddForm {
    padding: 30px 80px;
}

.QuestionAddForm label {
    font-weight: bold;
    color: #546469;
}

.QuestionAddForm label, input {
    display: block;
}

.form-data {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    max-height: auto;
    border: .5px solid #5FB6D4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    resize: none;
    overflow: hidden;
}

.button {
    padding: 5px;
    margin-top: 30px;
    width: 100%;
    border: .5px solid #5FB6D4;
    background: #5FB6D4;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    resize: none;
}

.testCase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2fr;
}

.testCase textarea{
    width: 90%;
}

.mb10{
    margin-bottom: 5px;
}